<ActionBar title="Home">
</ActionBar>

<ScrollView>
    <StackLayout>
      <Button text="Linear" tap="onAnimateLinear(view)"></Button>
      <Button text="EaseIn" tap="onAnimateEaseIn(view)"></Button>
      <Button text="EaseOut" tap="onAnimateEaseOut(view)"></Button>
      <Button text="EaseInEaseOut" tap="onAnimateEaseInEaseOut(view)"></Button>
      <Button text="Spring" tap="onAnimateSpring(view)"></Button>
      <Button text="Custom" tap="onAnimateCustom(view)"></Button>
      <Button text="Reset" tap="onReset(view)"></Button>
      <AbsoluteLayout width="300" height="200" clipToBounds="true" backgroundColor="LightGray">
        <Image #view src="res://icon" width="100" height="100" left="100" top="0"></Image>
      </AbsoluteLayout>
    </StackLayout>
</ScrollView>
