<ActionBar>
    <Label text="BMOnlineGaming" class="home"></Label>
</ActionBar>

<GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.Produits" class="Produits"></Label>
                <Image [nsRouterLink]="['../item', item.id]" [src]="item.image"> </Image>

                <Label [nsRouterLink]="['../item', item.id]" [text]="item.Services" class="Services"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
